/* Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .side-bar {
        width: 100%;
    }

    .side-bar .search-form {
        flex-direction: row;
        justify-content: space-between;
    }

    .search-form input {
        margin: 0px 20px;
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 360px) and (max-width: 480px) {
    .product-list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}